* {
    padding: 0px;
    margin: 0px;
}

asside {
    float: left;
    background-color: #A89369 !important;
    width: 10%;
    height: 639px;
}

img {
    float: right;
    width: 100px;
    height: auto;

}

header {
    text-align: center;
}

section {
    display: flex;
}

section div {
    text-align: justify;
    margin: 30px;
}